<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cindata.housekeeper.web.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.cindata.housekeeper.web.model.UserInfo">
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="NICKNAME" jdbcType="VARCHAR" property="nickname" />
    <result column="REALNAME" jdbcType="VARCHAR" property="realname" />
    <result column="SEX" jdbcType="CHAR" property="sex" />
    <result column="HEAD_URL" jdbcType="VARCHAR" property="headUrl" />
    <result column="CITY_ID" jdbcType="DECIMAL" property="cityId" />
    <result column="CITY_NAME" jdbcType="VARCHAR" property="cityName" />
    <result column="DISTRICT_ID" jdbcType="DECIMAL" property="districtId" />
    <result column="DISTRICT_NAME" jdbcType="VARCHAR" property="districtName" />
    <result column="COMPANY_ID" jdbcType="DECIMAL" property="companyId" />
    <result column="COMPANY_NAME" jdbcType="VARCHAR" property="companyName" />
    <result column="STORE_ID" jdbcType="DECIMAL" property="storeId" />
    <result column="STORE_NAME" jdbcType="VARCHAR" property="storeName" />
    <result column="STORE_CITY_ID" jdbcType="DECIMAL" property="storeCityId" />
    <result column="STORE_DISTRICT_ID" jdbcType="DECIMAL" property="storeDistrictId" />
    <result column="STORE_ADDRESS" jdbcType="VARCHAR" property="storeAddress" />
    <result column="STATE" jdbcType="CHAR" property="state" />
    <result column="REG_TIME" jdbcType="DATE" property="regTime" />
    <result column="UPDATE_TIME" jdbcType="DATE" property="updateTime" />
    <result column="EXPIRY_TIME" jdbcType="DATE" property="expiryTime" />
    <result column="REG_IP" jdbcType="VARCHAR" property="regIp" />
    <result column="WEIXIN2CODE" jdbcType="VARCHAR" property="weixin2code" />
    <result column="BUSINESS_CARD" jdbcType="VARCHAR" property="businessCard" />
    <result column="INTRODUCER" jdbcType="VARCHAR" property="introducer" />
    <result column="LAST_LOGIN_TIME" jdbcType="DATE" property="lastLoginTime" />
    <result column="GROUP_ID" jdbcType="VARCHAR" property="groupId" />
    <result column="REG_TYPE" jdbcType="DECIMAL" property="regType" />
    <result column="COUNTRY_NAME" jdbcType="VARCHAR" property="countryName" />
    <result column="PROVINCE_NAME" jdbcType="VARCHAR" property="provinceName" />
    <result column="WX_OPENID" jdbcType="VARCHAR" property="wxOpenid" />
    <result column="USER_TYPE" jdbcType="DECIMAL" property="userType" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, MOBILE, PASSWORD, NICKNAME, REALNAME, SEX, HEAD_URL, CITY_ID, CITY_NAME, DISTRICT_ID,
    DISTRICT_NAME, COMPANY_ID, COMPANY_NAME, STORE_ID, STORE_NAME, STORE_CITY_ID, STORE_DISTRICT_ID,
    STORE_ADDRESS, STATE, REG_TIME, UPDATE_TIME, EXPIRY_TIME, REG_IP, WEIXIN2CODE, BUSINESS_CARD,
    INTRODUCER, LAST_LOGIN_TIME, GROUP_ID, REG_TYPE, COUNTRY_NAME, PROVINCE_NAME, WX_OPENID,
    USER_TYPE
  </sql>
  <select id="selectByExample" parameterType="com.cindata.housekeeper.web.model.UserInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_HOUSEKEEPER_USER_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.cindata.housekeeper.web.model.UserInfoExample">
    delete from T_HOUSEKEEPER_USER_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cindata.housekeeper.web.model.UserInfo">
    insert into T_HOUSEKEEPER_USER_INFO (ID, MOBILE, PASSWORD,
    NICKNAME, REALNAME, SEX,
    HEAD_URL, CITY_ID, CITY_NAME,
    DISTRICT_ID, DISTRICT_NAME, COMPANY_ID,
    COMPANY_NAME, STORE_ID, STORE_NAME,
    STORE_CITY_ID, STORE_DISTRICT_ID, STORE_ADDRESS,
    STATE, REG_TIME, UPDATE_TIME,
    EXPIRY_TIME, REG_IP, WEIXIN2CODE,
    BUSINESS_CARD, INTRODUCER, LAST_LOGIN_TIME,
    GROUP_ID, REG_TYPE, COUNTRY_NAME,
    PROVINCE_NAME, WX_OPENID, USER_TYPE
    )
    values (#{id,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
    #{nickname,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR},
    #{headUrl,jdbcType=VARCHAR}, #{cityId,jdbcType=DECIMAL}, #{cityName,jdbcType=VARCHAR},
    #{districtId,jdbcType=DECIMAL}, #{districtName,jdbcType=VARCHAR}, #{companyId,jdbcType=DECIMAL},
    #{companyName,jdbcType=VARCHAR}, #{storeId,jdbcType=DECIMAL}, #{storeName,jdbcType=VARCHAR},
    #{storeCityId,jdbcType=DECIMAL}, #{storeDistrictId,jdbcType=DECIMAL}, #{storeAddress,jdbcType=VARCHAR},
    #{state,jdbcType=CHAR}, #{regTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE},
    #{expiryTime,jdbcType=DATE}, #{regIp,jdbcType=VARCHAR}, #{weixin2code,jdbcType=VARCHAR},
    #{businessCard,jdbcType=VARCHAR}, #{introducer,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=DATE},
    #{groupId,jdbcType=VARCHAR}, #{regType,jdbcType=DECIMAL}, #{countryName,jdbcType=VARCHAR},
    #{provinceName,jdbcType=VARCHAR}, #{wxOpenid,jdbcType=VARCHAR}, #{userType,jdbcType=DECIMAL}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.cindata.housekeeper.web.model.UserInfo">
    insert into T_HOUSEKEEPER_USER_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="nickname != null">
        NICKNAME,
      </if>
      <if test="realname != null">
        REALNAME,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="headUrl != null">
        HEAD_URL,
      </if>
      <if test="cityId != null">
        CITY_ID,
      </if>
      <if test="cityName != null">
        CITY_NAME,
      </if>
      <if test="districtId != null">
        DISTRICT_ID,
      </if>
      <if test="districtName != null">
        DISTRICT_NAME,
      </if>
      <if test="companyId != null">
        COMPANY_ID,
      </if>
      <if test="companyName != null">
        COMPANY_NAME,
      </if>
      <if test="storeId != null">
        STORE_ID,
      </if>
      <if test="storeName != null">
        STORE_NAME,
      </if>
      <if test="storeCityId != null">
        STORE_CITY_ID,
      </if>
      <if test="storeDistrictId != null">
        STORE_DISTRICT_ID,
      </if>
      <if test="storeAddress != null">
        STORE_ADDRESS,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="regTime != null">
        REG_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="expiryTime != null">
        EXPIRY_TIME,
      </if>
      <if test="regIp != null">
        REG_IP,
      </if>
      <if test="weixin2code != null">
        WEIXIN2CODE,
      </if>
      <if test="businessCard != null">
        BUSINESS_CARD,
      </if>
      <if test="introducer != null">
        INTRODUCER,
      </if>
      <if test="lastLoginTime != null">
        LAST_LOGIN_TIME,
      </if>
      <if test="groupId != null">
        GROUP_ID,
      </if>
      <if test="regType != null">
        REG_TYPE,
      </if>
      <if test="countryName != null">
        COUNTRY_NAME,
      </if>
      <if test="provinceName != null">
        PROVINCE_NAME,
      </if>
      <if test="wxOpenid != null">
        WX_OPENID,
      </if>
      <if test="userType != null">
        USER_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="headUrl != null">
        #{headUrl,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=DECIMAL},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="districtId != null">
        #{districtId,jdbcType=DECIMAL},
      </if>
      <if test="districtName != null">
        #{districtName,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=DECIMAL},
      </if>
      <if test="storeName != null">
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="storeCityId != null">
        #{storeCityId,jdbcType=DECIMAL},
      </if>
      <if test="storeDistrictId != null">
        #{storeDistrictId,jdbcType=DECIMAL},
      </if>
      <if test="storeAddress != null">
        #{storeAddress,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
      <if test="regTime != null">
        #{regTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="expiryTime != null">
        #{expiryTime,jdbcType=DATE},
      </if>
      <if test="regIp != null">
        #{regIp,jdbcType=VARCHAR},
      </if>
      <if test="weixin2code != null">
        #{weixin2code,jdbcType=VARCHAR},
      </if>
      <if test="businessCard != null">
        #{businessCard,jdbcType=VARCHAR},
      </if>
      <if test="introducer != null">
        #{introducer,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=DATE},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=VARCHAR},
      </if>
      <if test="regType != null">
        #{regType,jdbcType=DECIMAL},
      </if>
      <if test="countryName != null">
        #{countryName,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null">
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="wxOpenid != null">
        #{wxOpenid,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cindata.housekeeper.web.model.UserInfoExample" resultType="java.lang.Long">
    select count(*) from T_HOUSEKEEPER_USER_INFO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update T_HOUSEKEEPER_USER_INFO
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        MOBILE = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null">
        NICKNAME = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.realname != null">
        REALNAME = #{record.realname,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        SEX = #{record.sex,jdbcType=CHAR},
      </if>
      <if test="record.headUrl != null">
        HEAD_URL = #{record.headUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.cityId != null">
        CITY_ID = #{record.cityId,jdbcType=DECIMAL},
      </if>
      <if test="record.cityName != null">
        CITY_NAME = #{record.cityName,jdbcType=VARCHAR},
      </if>
      <if test="record.districtId != null">
        DISTRICT_ID = #{record.districtId,jdbcType=DECIMAL},
      </if>
      <if test="record.districtName != null">
        DISTRICT_NAME = #{record.districtName,jdbcType=VARCHAR},
      </if>
      <if test="record.companyId != null">
        COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
      </if>
      <if test="record.companyName != null">
        COMPANY_NAME = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.storeId != null">
        STORE_ID = #{record.storeId,jdbcType=DECIMAL},
      </if>
      <if test="record.storeName != null">
        STORE_NAME = #{record.storeName,jdbcType=VARCHAR},
      </if>
      <if test="record.storeCityId != null">
        STORE_CITY_ID = #{record.storeCityId,jdbcType=DECIMAL},
      </if>
      <if test="record.storeDistrictId != null">
        STORE_DISTRICT_ID = #{record.storeDistrictId,jdbcType=DECIMAL},
      </if>
      <if test="record.storeAddress != null">
        STORE_ADDRESS = #{record.storeAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        STATE = #{record.state,jdbcType=CHAR},
      </if>
      <if test="record.regTime != null">
        REG_TIME = #{record.regTime,jdbcType=DATE},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=DATE},
      </if>
      <if test="record.expiryTime != null">
        EXPIRY_TIME = #{record.expiryTime,jdbcType=DATE},
      </if>
      <if test="record.regIp != null">
        REG_IP = #{record.regIp,jdbcType=VARCHAR},
      </if>
      <if test="record.weixin2code != null">
        WEIXIN2CODE = #{record.weixin2code,jdbcType=VARCHAR},
      </if>
      <if test="record.businessCard != null">
        BUSINESS_CARD = #{record.businessCard,jdbcType=VARCHAR},
      </if>
      <if test="record.introducer != null">
        INTRODUCER = #{record.introducer,jdbcType=VARCHAR},
      </if>
      <if test="record.lastLoginTime != null">
        LAST_LOGIN_TIME = #{record.lastLoginTime,jdbcType=DATE},
      </if>
      <if test="record.groupId != null">
        GROUP_ID = #{record.groupId,jdbcType=VARCHAR},
      </if>
      <if test="record.regType != null">
        REG_TYPE = #{record.regType,jdbcType=DECIMAL},
      </if>
      <if test="record.countryName != null">
        COUNTRY_NAME = #{record.countryName,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceName != null">
        PROVINCE_NAME = #{record.provinceName,jdbcType=VARCHAR},
      </if>
      <if test="record.wxOpenid != null">
        WX_OPENID = #{record.wxOpenid,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null">
        USER_TYPE = #{record.userType,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update T_HOUSEKEEPER_USER_INFO
    set ID = #{record.id,jdbcType=VARCHAR},
    MOBILE = #{record.mobile,jdbcType=VARCHAR},
    PASSWORD = #{record.password,jdbcType=VARCHAR},
    NICKNAME = #{record.nickname,jdbcType=VARCHAR},
    REALNAME = #{record.realname,jdbcType=VARCHAR},
    SEX = #{record.sex,jdbcType=CHAR},
    HEAD_URL = #{record.headUrl,jdbcType=VARCHAR},
    CITY_ID = #{record.cityId,jdbcType=DECIMAL},
    CITY_NAME = #{record.cityName,jdbcType=VARCHAR},
    DISTRICT_ID = #{record.districtId,jdbcType=DECIMAL},
    DISTRICT_NAME = #{record.districtName,jdbcType=VARCHAR},
    COMPANY_ID = #{record.companyId,jdbcType=DECIMAL},
    COMPANY_NAME = #{record.companyName,jdbcType=VARCHAR},
    STORE_ID = #{record.storeId,jdbcType=DECIMAL},
    STORE_NAME = #{record.storeName,jdbcType=VARCHAR},
    STORE_CITY_ID = #{record.storeCityId,jdbcType=DECIMAL},
    STORE_DISTRICT_ID = #{record.storeDistrictId,jdbcType=DECIMAL},
    STORE_ADDRESS = #{record.storeAddress,jdbcType=VARCHAR},
    STATE = #{record.state,jdbcType=CHAR},
    REG_TIME = #{record.regTime,jdbcType=DATE},
    UPDATE_TIME = #{record.updateTime,jdbcType=DATE},
    EXPIRY_TIME = #{record.expiryTime,jdbcType=DATE},
    REG_IP = #{record.regIp,jdbcType=VARCHAR},
    WEIXIN2CODE = #{record.weixin2code,jdbcType=VARCHAR},
    BUSINESS_CARD = #{record.businessCard,jdbcType=VARCHAR},
    INTRODUCER = #{record.introducer,jdbcType=VARCHAR},
    LAST_LOGIN_TIME = #{record.lastLoginTime,jdbcType=DATE},
    GROUP_ID = #{record.groupId,jdbcType=VARCHAR},
    REG_TYPE = #{record.regType,jdbcType=DECIMAL},
    COUNTRY_NAME = #{record.countryName,jdbcType=VARCHAR},
    PROVINCE_NAME = #{record.provinceName,jdbcType=VARCHAR},
    WX_OPENID = #{record.wxOpenid,jdbcType=VARCHAR},
    USER_TYPE = #{record.userType,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="userLoginCount"  resultType="java.lang.Integer" >
    select count(*) from (select * from T_HOUSEKEEPER_USER_INFO t where LAST_LOGIN_TIME is not null)
  </select>
  <select id="getUserInfoList" parameterType="com.cindata.housekeeper.core.entity.Parameter" resultMap="BaseResultMap">
    select *
    from
    (
    select p.*, rownum rn
    from
    (
    SELECT
    T .MOBILE,
    T .REG_TIME,
    T .LAST_LOGIN_TIME,
    NVL(P .house_count,0) as house_count,
    NVL(P .house_price,0) as house_price,
    NVL(c .change_price,0) as change_price,
    NVL(c .change_count,0) as change_count
    FROM
    T_HOUSEKEEPER_USER_INFO T
    LEFT JOIN (
    SELECT
    COUNT (H .USER_ID) as house_count,
    H .USER_ID,
    SUM (
    H .BUILDINGSQUARE * H .ASSESS_SALE_PRICE
    ) as house_price
    FROM
    T_HOUSEKEEPER_HOUSE_INFO H
    WHERE
    H .STATUS = 1
    <!--SELECT
    COUNT (*) AS COUNT,
    NVL (SUM(house_count), 0) AS houseCount,
    NVL (SUM(house_price), 0) AS housePrice
    FROM
    T_HOUSEKEEPER_USER_INFO T
    LEFT JOIN (
    SELECT
    COUNT (H .USER_ID) AS house_count,
    H .USER_ID,
    SUM (
    H .BUILDINGSQUARE * H .ASSESS_SALE_PRICE
    ) AS house_price
    FROM
    T_HOUSEKEEPER_HOUSE_INFO H
    WHERE
    H .STATUS = 1
    GROUP BY
    H .USER_ID
    ) P ON P .USER_ID = T .MOBILE
    WHERE
    T .STATE = 1
    <if test="groupId != null and groupId != ''">
      AND
      T .GROUP_ID = #{groupId}
    </if>-->
    GROUP BY
    H .USER_ID
    ) P ON P .USER_ID = T .MOBILE
    LEFT JOIN (
    SELECT
    COUNT (H .USERID) as change_count,
    H .USERID,
    MAX(
    H.HOUSE_BUDGET
    ) as change_price
    FROM
    T_HOUSEKEEPER_HOUSE_CHANGE_LOG H
    GROUP BY
    H .USERID
    ) c ON c .USERID = T .MOBILE
    WHERE
    T .STATE = 1
    <if test="groupId != null and groupId != ''">
      AND
      T .GROUP_ID = #{groupId}
    </if>
    <if test="userId != null and userId != ''">
      and T.MOBILE like '%' || #{userId,jdbcType=VARCHAR} || '%'
    </if>
    <if test="startDate != null and startDate != ''">
      and REG_TIME &gt;= #{startDate,jdbcType=DATE}
    </if>
    <if test="endDate != null and endDate != ''">
      and REG_TIME &lt;= #{endDate,jdbcType=DATE}
    </if>
    ORDER BY
    <if test="orderByClause != null" >
      ${orderByClause}
    </if>
    LAST_LOGIN_TIME desc
    )p
    where rownum &lt;= #{end_no}
    )
    where rn &gt;= #{start_no}
  </select>

  <select id="getUserInfoListCount" parameterType="com.cindata.housekeeper.core.entity.Parameter" resultType="java.util.Map">

    SELECT
    count(*) as count,nvl(sum(house_count),0) as houseCount,nvl(sum(house_price),0) as housePrice
    FROM
    T_HOUSEKEEPER_USER_INFO T
    LEFT JOIN (
    SELECT
    COUNT (H .USER_ID) as house_count,
    H .USER_ID,
    SUM (
    H .BUILDINGSQUARE * H .ASSESS_SALE_PRICE
    ) as house_price
    FROM
    T_HOUSEKEEPER_HOUSE_INFO H
    WHERE
    H .STATUS = 1
    GROUP BY
    H .USER_ID
    ) P ON P .USER_ID = T .MOBILE
    WHERE
    T .STATE = 1
    <if test="groupId != null and groupId != ''">
      AND
      T .GROUP_ID = #{groupId}
    </if>
    <if test="userId != null and userId != ''">
      and T.MOBILE like '%' || #{userId,jdbcType=VARCHAR} || '%'
    </if>
    <if test="startDate != null and startDate != ''">
      and REG_TIME &gt;= #{startDate,jdbcType=DATE}
    </if>
    <if test="endDate != null and endDate != ''">
      and REG_TIME &lt;= #{endDate,jdbcType=DATE}
    </if>

  </select>

</mapper>